// margin/padding top, left, etc.
for s in (0 4 8 16 24 32 40 48 56)
	for p in ((b bottom) (t top) ( l left) (r right))
		$size = s + 0px
		
		.h-m{p[0]}--{s}
			margin-{p[1]} rem($size)
			
		.h-p{p[0]}--{s}
			padding-{p[1]} rem($size)
			
// text align
for $i in (center left right)
	.h-align--{$i}
		text-align $i

// pull
.h-pull--left
	float left
	
.h-pull--right
	float right
	
// clearfix
.clearfix
	clear both
	
// colors
.h-color--gray
	color lighten(#000, 50%)
	
.h-color--blue
	color $color-base
	
// font sizings
for $s in (10 12 14 16 18 20 22 24 28 32 36 40)
	.h-fz--{$s}
		font-size ($s / $base-font-size)rem
	
.h-text--medium
	font-weight 500
	
.h-text--bold
	font-weight 700

// display and positions
.h-display--none
	display none

.h-display--block
	display none

.h-display--inline-block
	display inline-block
	
.h-display--inline
	display inline