/* 
Translate px > rem by $base-font-size. Using:
    font-size rem(24px)
*/
rem($px)
    ($px/$base-font-size)rem


/**
An arrow mixin for Stylus, based on @shojberg's "cssarrowplease.com". Used:
    .my-arrow
        triangle(10px, 10px, 'bottom', #fff)
 */
triangle(width = 10px, height = 10px, direction = 'bottom', color = #000)

    // Base triangle styles
    width 0
    height 0
    background 0
    border-style solid

    // Styles for each direction
    directions = {
        top: {
            border-width: 0 (width * .5) height (width * .5),
            border-color: transparent transparent color transparent
        },
        topRight: {
            border-width: 0 width height 0,
            border-color: transparent color transparent transparent
        },
        right: {
            border-width: (height * .5) 0 (height *.5) width,
            border-color: transparent transparent transparent color
        },
            bottomRight: {
            border-width: 0 0 height width,
            border-color: transparent transparent color transparent
        },
        bottom: {
            border-width: height (width * .5) 0 (width * .5),
            border-color: color transparent transparent transparent
        },
        bottomLeft: {
            border-width: width 0 0 height,
            border-color: transparent transparent transparent color
        },
        left: {
            border-width: (height * .5) width (height * .5) 0,
            border-color: transparent color transparent transparent
        },
        topLeft: {
            border-width: height width 0 0,
            border-color: color transparent transparent transparent
        }
    }

    // Mixin styles for passed direction
    styles = directions[direction]
    {styles}
    
/**
Set the placholder for input. Use:
    +placeholder()
        color #999      
 */
placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}