.text
	roboto(rem(14px), normal)
	margin-bottom rem(16px)
	
	& > p
		margin-bottom rem(12px)
		
	&__h1
		font-size 48px
		
	&__h2
		font-size 32px
	
	&__h3
		font-size 14px
		
	&--helptext
		roboto(rem(12px), normal)
		margin-bottom rem(8px)
		color $color-gray
		
	&--uppercase
		text-transform uppercase
		
	&--bold
		roboto(null, bold)
		
	&--ul
		list-style none
		
		&-li
			padding-left rem(24px)
			relative top left
			
			&:before
				content '—'
				display block
				absolute left top