mixin grid(data, modifier)
	.grid(class=modifier)
		.row
			for column in data
				div(class='col--' + column.column + ' ' + column.modifier)
					if column.data
						for block in column.data
							!=helpers.component(block.block, block.data, block.modifier)
					else
						| &nbsp;