doctype html
html
    head
        meta(charset='UTF-8')
        title Главная страница
        meta(name='viewport', content='width=device-width, initial-scale=1')
            
        link(href='assets/css/main.css', rel='stylesheet' type='text/css')
            
        block script
        script(src='https://yastatic.net/jquery/2.2.3/jquery.min.js')
        script(src='./assets/js/main.js')
    body
        !=helpers.component('header', header.main)
        .container
            // Шапка
            
            .content
                block content

            // Подвал
            !=helpers.component('footer', footer.main)