
html
body
    height 100%

body
    font 18px Arial, sans-serif
    -webkit-font-smoothing antialiased
    
a
    color $color-base
    text-decoration none
    transition all .3s
    
    &:hover
        color darken($color-base, 20%)
    